@model NewModel
@{
    ViewData["Title"] = "News";
}
<div class="container text-center">
    <h2>@Model.Title</h2>
</div>
<div class="row">
    <div class="col-12">
        @Html.Raw(Model.Content)
    </div>
</div>
<div class="row">
    <a href="@Model.SourceUrl" class="btn btn-light">Read in source</a>
</div>
<div class="row">
    <a asp-controller="News" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
</div>