@model NewModel
@{
    ViewData["Title"] = $"Edit News {Model.Id}";
}

<div class="text-center">
    <h2>Edit New @Model.Id</h2>
</div>


<div class="container text-center">
    <form asp-controller="News" asp-action="Edit" asp-route-id="@Model.Id" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <label for="newTitle" class="form-label">Title</label>
                @Html.TextBoxFor(model => model.Title, null, new { @class = "form-control", id = "newTitle" })
                <input type="text" class="form-control" asp-for="Title" id="articleTitle">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <input type="submit" class="btn btn-primary" value="Create" />
            </div>
        </div>
    </form>
</div>