@using NewsAggregatingProject.HtmlHelpers;
@using NewsAggregatingProject.TagHelpers;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="text-center">
    <h1 class="display-4">Good News Aggregator</h1>
    <p>This is a unique platform that gathers the most inspiring and positive news from around the world in one place. Our aggregator offers users a daily dose of joy, hope, and inspiration, lifting spirits and filling hearts with positivity.</p>

</div>




@section Scripts{


}
