@model NewModel
@{
    ViewData["Title"] = "Articles";
}
<div class="container text-center">
    <form asp-controller="Article" asp-action="Create" method="post">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <label asp-for="Id" class="form-label">Id</label>
                <input type="number" asp-for="Id" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <input type="submit" class="btn btn-primary" value="Create">
            </div>
        </div>
    </form>
</div>