@model List<NewModel>;
@{
    ViewData["Title"] = "News";
}

<div class="text-center">
    <h1 class="display-4">News</h1>
</div>

<div class="row alugn-items-start">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div>
            @Html.DisplayNameFor(list => list[i].Id)
            @Html.DisplayFor(model => model[i].Content)
        </div>
    }

</div>